#divAdLeft{width: 120px; line-height:30px; position: fixed;overflow:hidden; left:0px !important;}
#divAdRight{width: 120px; line-height:30px; position: fixed;overflow:hidden;right:0px !important;}
#divAdLeft img,#divAdRight img{ width:120px}
/*
     FILE ARCHIVED ON 15:24:43 Jul 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:56:29 Jun 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.608
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  esindex: 0.01
  cdx.remote: 10.708
  LoadShardBlock: 34.34 (3)
  PetaboxLoader3.datanode: 48.415 (4)
  load_resource: 88.931
  PetaboxLoader3.resolve: 44.167
*/