/* overlay */

/** 01. Resets
*************************************************** **/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
:active,
:focus {
    outline: none !important;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/

::selection {
    color: #fff;
    text-shadow: none;
    background: #333;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #333; /* Firefox */
}

::-webkit-selection {
    color: #fff;
    text-shadow: none;
    background: #333; /* Safari */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
    border-bottom: 1px solid #ccc;
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.form-control[disabled]::-moz-placeholder {
    color: #9B9B9B;
    opacity: 1;
}

.form-control[disabled]:-ms-input-placeholder {
    color: #9B9B9B;
}

.form-control[disabled]::-webkit-input-placeholder {
    color: #9B9B9B;
}

img {
    border: 0;
    vertical-align: top;
}

input:-webkit-autofill {
    color: #ffffff !important;
}

.form-control:focus {
    box-shadow: none;
}

textarea {
    resize: none;
}

textarea, input, button, *:focus {
    outline: none !important;
}

textarea {
    resize: vertical;
}

.bg-success {
    background: #3cbc98;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: initial;
}

.radio-inline label i,
.checkbox-inline label i {
    color: #333333;
}

.bg-danger {
    background: #db2d26;
}

.bg-buy {
    background: #30363d;
    color: #ffffff;
    font-weight: bold;
}

.bg-sell {
    background: #e1e5eb;
    color: #333333;
    font-weight: bold;
}

select:not('.ui-datepicker-month'),
select:not('.ui-datepicker-year') {
    border: 2px solid #E5E7E9;
    height: 46px;
    padding: 12px;
    outline: none;
    line-height: 1 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

label {
    font-weight: 400;
}

iframe,
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

audio, canvas, img, video {
    vertical-align: middle;
}

p {
    display: block;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    -webkit-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
    transition: all .300s;
}

a, a:focus, a:hover, a:active {
    outline: 0;
    cursor: pointer;
}

p, pre, ul, ol, dl, dd, blockquote,
address, table, fieldset, form {
    margin-bottom: 10px;
}

canvas {
    width: 100% !important;
    /* max-width: 800px; causes panorama gmap problems */
    height: auto !important;
}

pre {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

section.dark pre {
    color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

img.img-responsive {
    display: inline-block;
}

/* IE & Mozilla fix */

.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; /* required for IE */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

a.overlay:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* dark overlay */
.overlay.dark-0 {
    background-color: rgba(0, 0, 0, 0);
}

.overlay.dark-1 {
    background-color: rgba(0, 0, 0, .1);
}

.overlay.dark-2 {
    background-color: rgba(0, 0, 0, .2);
}

.overlay.dark-3 {
    background-color: rgba(0, 0, 0, .3);
}

.overlay.dark-4 {
    background-color: rgba(0, 0, 0, .4);
}

.overlay.dark-5 {
    background-color: rgba(0, 0, 0, .5);
}

.overlay.dark-6 {
    background-color: rgba(0, 0, 0, .6);
}

.overlay.dark-7 {
    background-color: rgba(0, 0, 0, .7);
}

.overlay.dark-8 {
    background-color: rgba(0, 0, 0, .8);
}

.overlay.dark-9 {
    background-color: rgba(0, 0, 0, .9);
}

.overlay.dark-10 {
    background-color: rgba(0, 0, 0, 1);
}

/* light overlay */
.overlay.light-0 {
    background-color: rgba(255, 255, 255, 0);
}

.overlay.light-1 {
    background-color: rgba(255, 255, 255, .1);
}

.overlay.light-2 {
    background-color: rgba(255, 255, 255, .2);
}

.overlay.light-3 {
    background-color: rgba(255, 255, 255, .3);
}

.overlay.light-4 {
    background-color: rgba(255, 255, 255, .4);
}

.overlay.light-5 {
    background-color: rgba(255, 255, 255, .5);
}

.overlay.light-6 {
    background-color: rgba(255, 255, 255, .6);
}

.overlay.light-7 {
    background-color: rgba(255, 255, 255, .7);
}

.overlay.light-8 {
    background-color: rgba(255, 255, 255, .8);
}

.overlay.light-9 {
    background-color: rgba(255, 255, 255, .9);
}

.overlay.light-10 {
    background-color: rgba(255, 255, 255, 1);
}

.nopadding {
    padding: 0px !important;
}

/*Custom Select2*/
.select2-container .select2-selection--single {
    height: 50px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #686C73;
}

.select2-container--default .select2-selection--single {
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #30363D;
    line-height: 20px;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Muli-Regular', sans-serif;
}

.select2-dropdown {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
}

.select2-results__option {
    padding: 15px 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-bottom: 1px dotted #E1E5EB;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 250px;
    overflow-y: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #DB2D26 transparent transparent transparent;
    border-width: 6px 5px 0 5px;
    margin-top: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .color-label {
    margin-left: 5px;
    color: #db2d26;
    font-family: 'Muli-Bold', sans-serif;
}

body.transaction-page .select2-container .select2-selection--single {
    height: 34px;
}

body.transaction-page .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 5px;
    padding-bottom: 5px;
}

body.transaction-page .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 25px;
}

body.transaction-page .select2-results__option {
    font-size: 14px;
    font-family: 'Muli-Regular', sans-serif;
    padding: 5px;
}

/** 04. Commons
     Quick Positioning and Styling
 **************************************************************** **/
/* font size */
.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-35 {
    font-size: 35px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-45 {
    font-size: 45px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-55 {
    font-size: 55px !important;
}

.fs-60 {
    font-size: 60px !important;
}

.fs-65 {
    font-size: 65px !important;
}

.fs-70 {
    font-size: 70px !important;
}

.fs-75 {
    font-size: 75px !important;
}

.fs-80 {
    font-size: 80px !important;
}

.fs-90 {
    font-size: 90px !important;
}

.fs-100 {
    font-size: 100px !important;
}

.fs-120 {
    font-size: 120px !important;
}

.fs-130 {
    font-size: 130px !important;
}

.fs-140 {
    font-size: 140px !important;
}

.fs-150 {
    font-size: 150px !important;
}

.fs-200 {
    font-size: 200px !important;
}

/* font weight */
.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

/* margins */
.mb-0 {
    margin-bottom: 0px !important;
}

.mb-1 {
    margin-bottom: 1px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-9 {
    margin-bottom: 9px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-18 {
    margin-bottom: 18px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-110 {
    margin-bottom: 110px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mb-130 {
    margin-bottom: 130px !important;
}

.mb-140 {
    margin-bottom: 140px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-1 {
    margin-top: 1px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mt-7 {
    margin-top: 7px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-9 {
    margin-top: 9px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 40px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-140 {
    margin-top: 140px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-1 {
    margin-left: 1px !important;
}

.ml-2 {
    margin-left: 2px !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-7 {
    margin-left: 7px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-9 {
    margin-left: 9px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-18 {
    margin-left: 18px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-45 {
    margin-left: 45px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-110 {
    margin-left: 110px !important;
}

.ml-120 {
    margin-left: 120px !important;
}

.ml-130 {
    margin-left: 130px !important;
}

.ml-140 {
    margin-left: 140px !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.ml-200 {
    margin-left: 200px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mr-1 {
    margin-right: 1px !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.mr-3 {
    margin-right: 3px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-6 {
    margin-right: 6px !important;
}

.mr-7 {
    margin-right: 7px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-9 {
    margin-right: 9px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-18 {
    margin-right: 18px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-35 {
    margin-right: 35px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-45 {
    margin-right: 45px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.mr-110 {
    margin-right: 110px !important;
}

.mr-120 {
    margin-right: 120px !important;
}

.mr-130 {
    margin-right: 130px !important;
}

.mr-140 {
    margin-right: 140px !important;
}

.mr-150 {
    margin-right: 150px !important;
}

.mr-200 {
    margin-right: 200px !important;
}

.m-0 {
    margin: 0px !important;
}

.m-1 {
    margin: 1px !important;
}

.m-2 {
    margin: 2px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-4 {
    margin: 4px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-6 {
    margin: 6px !important;
}

.m-7 {
    margin: 7px !important;
}

.m-8 {
    margin: 8px !important;
}

.m-9 {
    margin: 9px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-12 {
    margin: 12px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-18 {
    margin: 18px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-45 {
    margin: 45px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-60 {
    margin: 60px !important;
}

.m-70 {
    margin: 70px !important;
}

.m-80 {
    margin: 80px !important;
}

.m-90 {
    margin: 90px !important;
}

.m-100 {
    margin: 100px !important;
}

.m-110 {
    margin: 110px !important;
}

.m-120 {
    margin: 120px !important;
}

.m-130 {
    margin: 130px !important;
}

.m-140 {
    margin: 140px !important;
}

.m-150 {
    margin: 150px !important;
}

.m-200 {
    margin: 200px !important;
}

/* paddings */
.pb-0 {
    padding-bottom: 0px !important;
}

.pb-1 {
    padding-bottom: 1px !important;
}

.pb-2 {
    padding-bottom: 2px !important;
}

.pb-3 {
    padding-bottom: 3px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

.pb-7 {
    padding-bottom: 7px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-9 {
    padding-bottom: 9px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-18 {
    padding-bottom: 18px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-35 {
    padding-bottom: 35px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-45 {
    padding-bottom: 45px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-110 {
    padding-bottom: 110px !important;
}

.pb-120 {
    padding-bottom: 120px !important;
}

.pb-130 {
    padding-bottom: 130px !important;
}

.pb-140 {
    padding-bottom: 140px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-1 {
    padding-top: 1px !important;
}

.pt-2 {
    padding-top: 2px !important;
}

.pt-3 {
    padding-top: 3px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-6 {
    padding-top: 6px !important;
}

.pt-7 {
    padding-top: 7px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-9 {
    padding-top: 9px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-18 {
    padding-top: 18px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-45 {
    padding-top: 45px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-110 {
    padding-top: 110px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-140 {
    padding-top: 140px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: 1px !important;
}

.pl-2 {
    padding-left: 2px !important;
}

.pl-3 {
    padding-left: 3px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-6 {
    padding-left: 6px !important;
}

.pl-7 {
    padding-left: 7px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pl-9 {
    padding-left: 9px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-18 {
    padding-left: 18px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-45 {
    padding-left: 45px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pl-110 {
    padding-left: 110px !important;
}

.pl-120 {
    padding-left: 120px !important;
}

.pl-130 {
    padding-left: 130px !important;
}

.pl-140 {
    padding-left: 140px !important;
}

.pl-150 {
    padding-left: 150px !important;
}

.pl-200 {
    padding-left: 200px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pr-1 {
    padding-right: 1px !important;
}

.pr-2 {
    padding-right: 2px !important;
}

.pr-3 {
    padding-right: 3px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-6 {
    padding-right: 6px !important;
}

.pr-7 {
    padding-right: 7px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pr-9 {
    padding-right: 9px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-18 {
    padding-right: 18px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-35 {
    padding-right: 35px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-45 {
    padding-right: 45px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.pr-110 {
    padding-right: 110px !important;
}

.pr-120 {
    padding-right: 120px !important;
}

.pr-130 {
    padding-right: 130px !important;
}

.pr-140 {
    padding-right: 140px !important;
}

.pr-150 {
    padding-right: 150px !important;
}

.pr-200 {
    padding-right: 200px !important;
}

.p-0 {
    padding: 0px !important;
}

.p-1 {
    padding: 1px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-3 {
    padding: 3px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-7 {
    padding: 7px !important;
}

.p-8 {
    padding: 8px !important;
}

.p-9 {
    padding: 9px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-12 {
    padding: 12px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-18 {
    padding: 18px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-45 {
    padding: 45px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-60 {
    padding: 60px !important;
}

.p-70 {
    padding: 70px !important;
}

.p-80 {
    padding: 80px !important;
}

.p-90 {
    padding: 90px !important;
}

.p-100 {
    padding: 100px !important;
}

.p-110 {
    padding: 110px !important;
}

.p-120 {
    padding: 120px !important;
}

.p-130 {
    padding: 130px !important;
}

.p-140 {
    padding: 140px !important;
}

.p-150 {
    padding: 150px !important;
}

.p-200 {
    padding: 200px !important;
}

/* ------------------------------------------------------------------------------
*
*  # Uniform form inputs plugin
*
*  Styles for uniform.min.js - form components styling
*
*  Version: 1.2
*  Latest update: Aug 10, 2016
*
* ---------------------------------------------------------------------------- */
.checker {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.checker,
.checker span,
.checker input {
    width: 25px;
    height: 25px;
}

.checker span {
    color: #979797;
    border: 1px solid #979797;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 2px;
}

.checker span:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 23px;
    line-height: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    color: #DB2D26;
    filter: alpha(opacity=0);
}

.radio-inline label,
.checkbox-inline label {
    padding-left: 10px;
    color: #30363D;
}

.checker span.checked:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.checker input[type=checkbox],
.choice input[type=radio] {
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.checkbox .checker,
.checkbox-inline .checker {
    position: absolute;
    top: 3px;
    left: 0;
}

.form-horizontal .checkbox .checker,
.form-horizontal .checkbox-inline .checker {
    top: 9px;
}

.checkbox-right .checker {
    left: auto;
    right: 0;
}

.checker.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.checker.disabled,
.checker.disabled input[type=checkbox] {
    cursor: not-allowed;
}

.checkbox > label:active .checker.disabled span:after,
.checkbox-inline:active .checker.disabled span:after {
    opacity: 0;
    filter: alpha(opacity=0);
}

.checkbox > label:active .checker.disabled span.checked:after,
.checkbox-inline:active .checker.disabled span.checked:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.checker[class*=border-] span {
    border-color: inherit;
    color: inherit;
}

.dropdown-menu > .active:not(.disabled) .checker span,
.dropdown-menu[class*=bg-] .checker span,
.page-header-inverse .form-group > .checkbox .checker span,
.page-header-inverse .form-group > .checkbox-inline .checker span,
.navbar-inverse .navbar-form .form-group > .checkbox .checker span,
.navbar-inverse .navbar-form .form-group > .checkbox-inline .checker span,
.sidebar:not(.sidebar-default) .checkbox .checker span,
.sidebar:not(.sidebar-default) .checkbox-inline .checker span {
    border-color: #fff;
    color: #fff;
}

.choice {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 100%;
}

.choice,
.choice span,
.choice input {
    width: 25px;
    height: 25px;
}

.choice span {
    border: 1px solid #979797;
    display: -moz-inline-box;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    position: relative;
}

.choice span:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    border: 7px solid #DB2D26;
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.choice span.checked:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.radio .choice,
.radio-inline .choice {
    position: absolute;
    top: 1px;
    left: 0;
}

.form-horizontal .radio .choice,
.form-horizontal .radio-inline .choice {
    top: 9px;
}

.radio-right .choice {
    left: auto;
    right: 0;
}

.choice.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.choice.disabled,
.choice.disabled input[type=radio] {
    cursor: not-allowed;
}

.radio > label:active .choice.disabled span:after,
.radio-inline:active .choice.disabled span:after {
    opacity: 0;
    filter: alpha(opacity=0);
}

.radio > label:active .choice.disabled span.checked:after,
.radio-inline:active .choice.disabled span.checked:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.choice[class*=border-] span {
    border-color: inherit;
}

.choice[class*=border-] span:after {
    border-color: inherit;
}

/*Reset Modal*/
.modal-content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;
}

.modal-footer button[type=submit] {
    border-radius: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-footer button[type=button] {
    border-radius: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-dialog {
    width: 695px;
}

/** IMAGE ZOOM HOVER */
.image-hover-zoom {
    overflow: hidden;
}

.image-hover-zoom > img {

    -webkit-transition: ease all .3s;
    -moz-transition: ease all .3s;
    transition: ease all .3s;
}

.image-hover-zoom:hover > img {
    -webkit-transform: translate3d(0, 3%, 0) scale(1.3);
    -moz-transform: translate3d(0, 3%, 0) scale(1.3);
    -ms-transform: translate3d(0, 3%, 0) scale(1.3);
    -o-transform: translate3d(0, 3%, 0) scale(1.3);
    transform: translate3d(0, 3%, 0) scale(1.3);
}

/** IMAGE PLUS HOVER **/
.image-hover-plus {
    position: relative;
    display: block;
}

.image-hover-plus a > i.icon-hover-plus {
    opacity: 0;
    position: absolute;
    width: 0;
    top: 50%;
    left: 50%;

    z-index: 10;

    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.image-hover-plus:hover a > i.icon-hover-plus {
    opacity: 1;
    width: 20%;
}

.image-hover-plus a > i.icon-hover-plus::after,
.image-hover-plus a > i.icon-hover-plus::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    border-top: #fff 1px solid;

    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.image-hover-plus a > i.icon-hover-plus::after {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg);
    -moz-transform: translate3d(-50%, -50%, 0) rotate(90deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotate(90deg);
    -o-transform: translate3d(-50%, -50%, 0) rotate(90deg);
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
}

/* IMAGE HOVER OVERLAY */
.image-hover-overlay {
    position: relative;
    overflow: hidden;
    display: block;
}

.image-hover-overlay::before {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    background-color: rgba(33, 33, 36, 0.5);
    opacity: 0;

    z-index: 10;
    position: absolute;
    content: ' ';
}

.image-hover-overlay:hover::before {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
     FILE ARCHIVED ON 19:16:43 Jul 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:56:29 Jun 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.625
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.078
  esindex: 0.008
  cdx.remote: 43.633
  LoadShardBlock: 66.182 (3)
  PetaboxLoader3.datanode: 52.02 (4)
  load_resource: 651.147
  PetaboxLoader3.resolve: 560.244
*/