
/*
     FILE ARCHIVED ON 19:15:57 Jul 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:56:29 Jun 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.538
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.054
  esindex: 0.01
  cdx.remote: 190.463
  LoadShardBlock: 420.741 (3)
  PetaboxLoader3.datanode: 350.318 (4)
  load_resource: 116.651
  PetaboxLoader3.resolve: 72.329
*/