/* dkdn*/
.dkdn{
  display: none;
  background: url(../../../../../../20190827221519im_/https_/ngocrongvn.com/frontend/extends/images/bg_popup.png);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999999;
}
.dkdn-content{
  position: relative;
  background:url(../../../../../../20190827214426im_/https_/ngocrongvn.com/frontend/extends/images/bg-dkdn-content.png) no-repeat;
  margin-top: 3%;
  margin-left: 28%;
  width: 794px;
  height: 624px;
}
.dkdn-close{
  position: absolute;
  top: 57px;
  right: 53px;
  background-image:url(../../../../../../20190723170611im_/https_/ngocrongvn.com/frontend/extends/images/btn-close.png);
  width: 90px;
  height: 86px;
}
.dkdn-close a {
    width: 32px;
    height: 32px;
}
.dkdn-content-dt{
  position: absolute;
  top: 180px;
  left: 85px;
  width: 340px;
  height: 275px;
}
.dkdn-content-dt nav{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.dkdn-content-dt nav a{
  cursor: pointer;
  line-height: 50px;
  margin-right: 30px;
  font-size: 16px;
}
.dkdn-content-dt nav a:hover, .dkdn-content-dt nav a:focus, .dkdn-content-dt nav a.pselect{
  font-weight: bold;
}
.dkdn-content-dt .link{
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 135px;
  padding-bottom: 2px;
}
.dkdn-content-dt ul.link li{
  float: left;
  margin-left: 10px;
  
}
.dkdn-content-dt li{
	list-style:none;
}
#btnreg input[type="submit"], #btnlogin input[type="submit"]{
  background: url(../../../../../../20190827215734im_/https_/ngocrongvn.com/frontend/extends/images/start.gif) no-repeat scroll left top;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font:bold 15px Arial;
  margin: 7px 0 0px 115px;
  width: 108px;
  height: 45px;
  background-size: 108px;
}
#btnreg button[type="button"], #btnlogin button[type="button"]{
  background: url(../../../../../../20190827215734im_/https_/ngocrongvn.com/frontend/extends/images/start.gif) no-repeat scroll left top;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font:bold 15px Arial;
  margin: 7px 0 0px 115px;
  width: 108px;
  height: 45px;
  background-size: 108px;
}
.dkdn-content-dt input[type=text], .dkdn-content-dt input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #a88940;
  box-sizing: border-box;
}
/* end dkdn*/

/** POP THONG BAO RA MAT SERVER**/
.popup-ramatmaychu {
    display: none;
    background: url(../../../../../../20190827221519im_/https_/ngocrongvn.com/frontend/extends/images/bg_popup.png);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999999;
}
.popup-ramatmaychu-content {
    position: relative;
    background: url(../../../../../../20190827213401im_/https_/ngocrongvn.com/frontend/extends/images/popup_ramatmaychu.jpg) no-repeat;
    left: 24%;
    top: 20%;
    width: 700px;
    height: 400px;
	
}
.pop-ramatmaychu-close a {
    position: absolute;
    width: 90px;
    height: 86px;
    right: -50px;
    top: -50px;
    background-image: url(../../../../../../20190723170611im_/https_/ngocrongvn.com/frontend/extends/images/btn-close.png);
}
/** END POPUP THONG BAO **/

/*popup video*/
.popup-clip{
  display: none;
  background: url(../../../../../../20190827221519im_/https_/ngocrongvn.com/frontend/extends/images/bg_popup.png);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999999;
}
.popup-clip-content .btn-close-clip{
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: 376px;
  margin-top: -240px;
  cursor: pointer;
  background: url('../../../../../../20190827214437im_/https_/ngocrongvn.com/frontend/extends/images/btn-close-1.png') no-repeat;
}
.popup-clip-content iframe{
  width: 853px;
  height: 460px;
  position: absolute;
  left:50%;
  top: 50%;;
  margin-left: -426px;
  margin-top: -240px;
  border: 2px solid #181818
} 
.popup-clip-content .clip{
  display: none;
}
/*end popup video*/

/* Nap The */
.zp_stepbar {
    padding-top: 45px;
    padding-bottom: 22px;
}
.zp_stepbar ul {
    display: block;
    width: 560px;
    margin: 0 auto;
    background-color: #e3e2e2;
    list-style: none;
}
.zp_stepbar li, .zp_stepbar ul {
    height: 12px !important;
    border-radius: 10px;
}
.zp_stepbar li.active, .zp_stepbar li.passed {
    background-color: #e48a56;
}
.zp_stepbar li {
    float: left;
}
.zp_stepbar li.step2 {
    width: 180px;
}
.zp_stepbar li.step3 {
    width: 210px;
}
.zpsprt {
    background: url(../../../../../../20190827220330im_/https_/ngocrongvn.com/frontend/extends/images/node.png) no-repeat ;
}
.zp_stepbar li.active .stepnode {
    background: url(../../../../../../20190827220025im_/https_/ngocrongvn.com/frontend/extends/images/node-active.png) no-repeat
}
.zp_stepbar li.passed .stepnode {
    background: url(../../../../../../20190827214443im_/https_/ngocrongvn.com/frontend/extends/images/node-passed.png) no-repeat
}
.zp_stepbar li .stepnode {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: -8px;
    margin-right: -10px;
    position: relative;
}

.zp_stepbar li .moneybag {
    float: right;
    background-position: -306px -647px;
    width: 24px;
    height: 25px;
    margin: -8px -24px 0 0;
    position: relative;
    display: none;
}
.zp_stepbar li.active .stepname {
    color: #c94818;
    font-weight: 700;
}
.zp_stepbar li.passed .stepname {
    color: #c94818;
}
.zp_stepbar li .stepname {
    display: block;
    margin-top: -40px;
    text-align: center;
    color: #999;
    margin-right: -91%;
}
.zp_stepbar li.active .stepnode em {
    color: #fff;
}
.zp_stepbar li .stepnode em {
    font-size: 15px;
    font-weight: 700;
    color: #888;
    font-style: normal;
    line-height: 26px;
    padding-left: 8px;
    display: block;
}

.list_charge{
    height: 75px;
    margin-top: 50px;
}
.list_charge ul {
    margin-left: 20px;
    height: 100%;
}
.list_charge ul li {
    background: url(../../../../../../20190827221359im_/https_/ngocrongvn.com/images/home/list-charge.png) no-repeat;
    width: 110px;
    height: 86px;
    margin-right: 2px;
    float: left;
    cursor: pointer;
}
.list_charge ul li:nth-child(2) {
    background-position: -113px;
}
.list_charge ul li:nth-child(3) {
    background-position: -225px;
}
.list_charge ul li:nth-child(4) {
    background-position: -338px;
}
.list_charge ul li:nth-child(5) {
    background-position: -446px;
}
.list_charge ul li:nth-child(6) {
    background-position: -558px;
}
.napcard-content {
     padding-top: 50px;
}
.list_charge ul li.active{
    background: url(../../../../../../20190827212616im_/https_/ngocrongvn.com/images/home/list-charge-active.png) no-repeat;
}
.list_charge ul li:nth-child(2).active {
    background-position: -113px;
}
.list_charge ul li:nth-child(3).active {
    background-position: -225px;
}
.list_charge ul li:nth-child(4).active {
    background-position: -338px;
}
.list_charge ul li:nth-child(5).active {
    background-position: -446px;
}
.list_charge ul li:nth-child(6).active {
    background-position: -552px;
}

.nc-tabcontent {
    display: none;
    animation: nc-fadeEffect 1s; 
}
.extends_content{
	background-color:#ffffff;
	padding-bottom:50px;
	min-height:400px;
}

/* nap vang - nap xu*/
/*
.napcard_loaicard
{
	margin-top:50px;
}
.napcard_loaicard .input-hidden {
  position: absolute;
  left: -9999px;
}

.napcard_loaicard .input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}
.napcard_loaicard input[type=radio] + label>img {
  width: 157px;
  height: 90px;
  transition: 500ms all;
}

.napcard_loaicard input[type=radio]:checked + label>img {
  border: 3px solid #ff8f19;
  border-radius: 7px;
}
*/
.napcard_loaicard {
    height: 90px;
    margin-top: 20px;
}
.napcard_loaicard ul {
    margin: 0 auto;
	width: 350px;
    height: 100%;
}
.napcard_loaicard ul li {
    width: 157px;
    height: 90px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    list-style: none;
}
.napcard_loaicard ul li div.active img{
    border: 3px solid #ff8f19;
	border-radius: 7px;
}

.napcard_loaicard ul li div img:hover{
    border: 3px solid #ff8f19;
	border-radius: 7px;
}
/** end nap vang **/



/*
 | //lea.verou.me/css3patterns
 | Because white bgs are boring.
*/
html {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: 
    linear-gradient(
      90deg, 
      transparent 79px, 
      #abced4 79px, 
      #abced4 81px, 
      transparent 81px
    ),
    linear-gradient(
      #eee .1em, 
      transparent .1em
    );
}

/* End Nap The CSS*/
@keyframes nc-fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.nc-tabcontent p {
    text-align: center;
    color: #0c72e1;
    font-size: 26px;
}
.nc-btn{
    background: url(../../../../../../20190827215432im_/https_/ngocrongvn.com/frontend/extends/images/card/nc-btn.png) no-repeat;
    width: 174px; 
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.two-col{
    position: relative;
    margin-bottom: 15px;
}
.two-col .flb {
    width: 300px;
    margin-right: 25px;
    text-align: right;
    font-weight: 700;
    display: block;
    float: left;
    text-transform: uppercase;
    height: 35px;
    line-height: 40px;
}
.two-col .textinput {
    width: 275px;
    height: 35px;
    border: 1px #f58b00 solid;
    padding-left: 15px;
    color: #a6a6a6;
}
.two-col select.textinput {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url(../../../../../../20190827222836im_/https_/ngocrongvn.com/frontend/extends/images/select-arow.png) right -3px no-repeat;
    width: 292px;
    height: 39px;
	background-color:#ffffff;
}
.two-col ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a6a6a6;
    opacity: 1; /* Firefox */
}

.two-col ::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a6a6a6;
}

.two-col ::-ms-input-placeholder { /* Microsoft Edge */
    color: #a6a6a6;
}

/* HIDE RADIO */
.napcard-loainap [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.napcard-loainap [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.napcard-loainap [type=radio]:checked + img {
  outline: 2px solid #f00;
}
/* End Nap The */


/* openbeta */
.popup-napthe-thongbao{
  display: none;
  background: url(../../../../../../20190827221519im_/https_/ngocrongvn.com/frontend/extends/images/bg_popup.png);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999999;
  text-align: center;
}
.popup-napthe-thongbao-content{
  position: relative;
  margin-top: 5%;
  width:860px;
  height:593px;
  margin-right: auto;
  margin-left: auto;
}
.popup-napthe-thongbao-content .btn-napthe-thongbao-close{
	width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 175px;
    cursor: pointer;
}
.popup-napthe-thongbao-content .btn-lienhe-admin-thongbao{
	width: 113px;
    height: 50px;
    position: absolute;
    right: 35px;
    top: 395px;
    cursor: pointer;
}
.popup-napthe-thongbao-content .btn-napthe-thongbao-username{
	width: 200px;
    height: 40px;
    position: absolute;
    right: 70px;
    top: 190px;
    cursor: pointer;
	color: #fff500;
    text-align: left;
}
.popup-napthe-thongbao-detail{
  position: absolute;
  display: none;
}
.btn-napthe-thongbao-fbnhantuong{
	width: 200px;
    height: 40px;
    position: absolute;
    right: 120px;
    top: 400px;
    cursor: pointer;
    text-align: left;
}
  /* END openbeta */  
  
/* vtp payment */
.list_payment{
    height: 75px;
    margin-top: 50px;
}
.list_payment ul {
    margin-left: 32px;
    height: 100%;
}
.list_payment ul li {
    width: 110px;
    height: 86px;
    margin-right: 2px;
    float: left;
    cursor: pointer;
	list-style:none;
}
.list_payment ul li.active img{
	border: 3px solid #ff8f19;
    border-radius: 17px;
}
.napcard-content {
    padding-top: 50px;
}

/** LOADING FLASH **/
#game_window #wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../../../../../../20190827222415im_/https_/ngocrongvn.com/frontend/extends/images/loading-flash.jpg) center top no-repeat;
	position: absolute;
}
#game_window #wrapper article .btn-kichhoat {
	background-position: 0 -427px;
	height: 107px;
	width: 320px;
	display: block;
	text-indent: -9999px;
	position: relative;
	margin: 0 auto;
	left: 0;
	top: 520px;
}
#game_window #wrapper article {
	display: block;
	width: 500px;
	min-height: 650px;
	margin: 0 auto;
	position: relative;
}
#game_window #wrapper article .arrow-block {
	display: block;
	background-position: 0 0;
	height: 320px;
	width: 377px;
	position: relative;
	left: -290px;
	top: 160px;
}
.layout-sprite, .layout-arrow, .layout-btn-kichhoat-hov, .layout-btn-kichhoat, #wrapper article .btn-kichhoat, #wrapper article .btn-kichhoat:hover, #wrapper article .arrow-block {
	background-image: url(../../../../../../20190827212707im_/https_/ngocrongvn.com/frontend/extends/images/layout-sc5c783086c.html);
	background-repeat: no-repeat;
}
#game_window #wrapper article .btn-kichhoat {
	background-position: 0 -427px;
	height: 107px;
	width: 320px;
	display: block;
	text-indent: -9999px;
	position: relative;
	margin: 0 auto;
	left: 0;
	top: 520px;
}
#game_window #wrapper article .btn-kichhoat:hover {
  background-position: 0 -320px;
  height: 107px;
  width: 320px;
}
/** END LOADING FLASH **/

@media only screen and (max-width: 768px ){
	.dkdn{
	  display: none;
	  background: url(../../../../../../20190827221519im_/https_/ngocrongvn.com/frontend/extends/images/bg_popup.png);
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  z-index: 9999999;
	}
	.dkdn-content{
		display: block;
		background: url(../../../../../../20190827215918im_/https_/ngocrongvn.com/frontend/extends/images/bg-dkdn-content_mobi.png) no-repeat center center;
		width: 560px;
		height: 503px;
		position: fixed;
		left: 22%;
		z-index: 99999;
		padding-top: 225px;
		text-align: center;
		top: 45%;
		transform: translate(-52%,-50%) scale(0.72);
	}
	.dkdn-close{
		position: absolute;
		width: 42px;
		height: 42px;
		top: 36%;
		right: 12px;
		background-image: none;
	}
	.dkdn-close a {
		position: absolute;
		width: 42px;
		height: 42px;
		top: 36%;
		right: 12px;
		background-image: none;
	}
	.dkdn-content-dt{
		position: absolute;
		top: 310px;
		left: 105px;
		width: 380px;
		height: 275px;
	}
	.dkdn-content-dt nav{
	  margin: 0 auto;
	  width: 100%;
	  text-align: center;
	}
	.dkdn-content-dt nav a{
	  cursor: pointer;
	  line-height: 50px;
	  margin-right: 30px;
	  font-size: 16px;
	}
	.dkdn-content-dt nav a:hover, .dkdn-content-dt nav a:focus, .dkdn-content-dt nav a.pselect{
	  font-weight: bold;
	}
	.dkdn-content-dt .link{
	  position: absolute;
	  bottom: 0px;
	  right: 0;
	  width: 135px;
	  padding-bottom: 2px;
	}
	.dkdn-content-dt ul.link li{
	  float: left;
	  margin-left: 10px
	}
	#btnreg input[type="submit"], #btnlogin input[type="submit"]{
	  background: url(../../../../../../20190827215734im_/https_/ngocrongvn.com/frontend/extends/images/start.gif) no-repeat scroll left top;
	  border: medium none;
	  border-radius: 5px;
	  color: #fff;
	  cursor: pointer;
	  font:bold 15px Arial;
	  margin: 7px 0 0px 115px;
	  width: 108px;
	  height: 45px;
	  background-size: 108px;
	}
	.dkdn-content-dt input[type=text], .dkdn-content-dt input[type=password] {
	  width: 100%;
	  padding: 10px 20px;
	  margin: 2px 0;
	  display: inline-block;
	  border: 1px solid #a88940;
	  box-sizing: border-box;
	}
}
/*
     FILE ARCHIVED ON 18:49:22 Jul 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:56:30 Jun 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.611
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.057
  esindex: 0.009
  cdx.remote: 22.225
  LoadShardBlock: 98.386 (3)
  PetaboxLoader3.datanode: 79.155 (4)
  load_resource: 1224.901
  PetaboxLoader3.resolve: 1185.285
*/